@page "/booking"
<h3>Booking</h3>

<EditForm Model=@tour OnSubmit=@FormSubmitted>
    <div class="form-group">
        <label for="Name">Name</label>
        <InputText @bind-Value=tour.Name class="form-control" id="Name" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <InputText @bind-Value=tour.Email class="form-control" id="Email" />
    </div>
    <div class="form-group">
        <label for="Cancel">Cancel?</label>
        <InputCheckbox @bind-Value="IsChecked"  class="form-control" id="BookCancel"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Send" />
</EditForm>
@code {
    public bool IsChecked { get; set; }
    Model.Tour tour = new Model.Tour();

    async void FormSubmitted()
    {
        if (IsChecked == true)
        {
            tour.BookCancel = "Cancel";
            await EmitLogTopic.SendMessage(tour);
        }
        else
        {
            tour.BookCancel = "Booking";
            await EmitLogTopic.SendMessage(tour);
        }
        // Post data to the server, etc
    }
}
